.popup-container {
    position: fixed;
    top: 0;
    width: 345px;
    height: 100%;
    margin-top: 50px;
    z-index: 999;
}

.popup {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color:white;
}